<!DOCTYPE html>
<html>
  <head>
    <title>My Comment</title>
  </head>
  <body>
    <h1>My Comment</h1>
    <table>
      <thead>
        <tr>
          <th>University Name</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>University of California, Berkeley</td>
          <td>This university has an amazing computer science program!</td>
        </tr>
        <tr>
          <td>Stanford University</td>
          <td>The professors here are very knowledgeable and passionate about their subjects.</td>
        </tr>
        <tr>
          <td>Massachusetts Institute of Technology</td>
          <td>I had a great experience at this university and would highly recommend it to others.</td>
        </tr>
      </tbody>
    </table>
    <div>
      <button id="previous-page">Previous Page</button>
      <span>Page 1</span>
      <button id="next-page">Next Page</button>
    </div>
  </body>
</html>